In [2]:
import pandas as pd


# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [4]:
var =[1,2,3,4,5,6,7,8,9,10]
print(pd.Series(var))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data and Then, print the DataFrame.

In [5]:
data=[
    ["Alice", 25, "Female"],
    ["Bob", 30 , "Male"],
    ["Claire", 27 , "Female"]
]

DF= pd.DataFrame(data, columns=["Name" , "Age", "Gender"])
print(DF)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

1.DataFrame:

- Two-dimensional tabular data structure.
- Represents data as a table with rows and columns.
- Can hold columns of different data types.
- Often used to store and manipulate datasets.
- Provides labeled axes (rows and columns).
- Created using dictionaries, lists, arrays, or other DataFrames.
- Offers powerful data manipulation and analysis capabilities.

2. Series:

- One-dimensional labeled array.
- Represents a single column of data.
- Contains both data values and index labels.
- Used to work with individual data arrays or columns.
- Created from lists, arrays, or columns of a DataFrame.
- Useful for time series, single-variable analysis, etc.
- Can be part of a DataFrame's columns.

In this example, the DataFrame holds multiple columns of student data, while the Series represents the 'Age' column with associated index values

In [6]:
DF

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
type(DF)

pandas.core.frame.DataFrame

In [8]:
DF[['Age']]

   Age
0   25
1   30
2   27

In [9]:
type(DF[['Age']])

pandas.core.frame.DataFrame

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can  you give an example of when you might use one of these functions?

In [10]:
# head() : 
# These function is used to display the first few rows of the DataFrame
# by default 5 rows or any number we can mention
DF.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [11]:
# tail() : 
# These function is used to display the few rows from last of the DataFrame
# by default 5 rows or any number we can mention
DF.tail(2)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# DataFrame(data):
# Creates a DataFrame from various data sources like dictionaries, arrays, or other DataFrames
# DF= pd.DataFrame(data, columns=["Name" , "Age", "Gender"])

In [13]:
# columns: 
# Returns the column names of the DataFrame.
DF.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [14]:
# info():
# This function provides a summary of the DataFrame, including the data types of each column, non-null counts, and memory usage.
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes


# Q6. Which of the following is mutable in nature
###  Series,  DataFrame, Panel?

    Series:
Series are indeed immutable in size, means cannot change the number of elements or the index once the Series is created. However, we can modify the values within the Series.

    DataFrame: 
DataFrames are mutable in both size and values. we can add or remove columns, change the index, and modify the data within the DataFrame after it's created.

    Panel: 
Panels (which are now deprecated in modern pandas versions) were indeed mutable in both size and values. Similar to DataFrames, we could add or remove items (which were analogous to DataFrames), change the index labels, and modify the data within the Panel.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
name_series = pd.Series(['Jai', 'Shree', 'Ram'])
age_series = pd.Series([50, 20, 22])
add_series = pd.Series(["Panchvati","Mithlanchal","Ayodhya"])

# Combine the Series into a DataFrame
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Address': add_series
})

# Print the DataFrame
print(df)

    Name  Age      Address
0    Jai   50    Panchvati
1  Shree   20  Mithlanchal
2    Ram   22      Ayodhya