In [8]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
name="Nikhil"
list1=[ 1.5,66,True, 'ram']
per=89.90
tup=(1,"Nikhil", "Mishra")

In [4]:
type(name)

str

In [5]:
type(list1)

list

In [6]:
type(per)

float

In [7]:
type(tup)

tuple

In [13]:
# Q2. Given are some following variables containing data:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [14]:
type(var1)

str

In [15]:
type(var2)

str

In [16]:
type(var3)

list

In [17]:
type(var4)

float

Q.3 EXPLAIN THE USE OF THE FOLLOWING OPERATOR USING AN EXAMPLE

(i) /   : Division Operator allows us to divide two numbers and return a quotient.
(ii) %  : Modulus Operator is used to find out the remainder.
(iii) // : Division floor divides the first operand by the second and returns floor value of it
           Ex. 10//3---> 3.333 it returns 3 i.e floor value of 3.333
(iv) ** :Exponent(Power) Operator Returns first raised to power second.

In [18]:
#Q.4 CREATE A LIST OF LENGHTH 10 OF YOUR CHOICE CONTAINING MULTIPLE TYPES OF DATA USING FOR LOOP PRINT THE ELEMENTS AND ITS DATA TYPE?

l=[1,2,3,4,5,'Nikhil',23.5,True,"Lion"]

for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [2]:
# Q.5] Usingh a while loop verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A=int(input("Enter the value of A:"))
B=int(input("Enter the value of B:"))

while A%B == 0 :
    C = int(A/B)
   
    print(f"{A} is divisible by {B} and can be divided {C} times")
    break
else:
    print(f"{A} is not Divisible by {B}")

Enter the value of A: 90
Enter the value of B: 40

90 is not Divisible by 40

In [3]:
#Q.6  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not
int_list = [10, 12, 18, 25, 33, 42, 56, 61, 72, 81, 94, 120, 117, 122, 166, 14, 158, 165, 178, 183, 197, 330, 300, 224, 200]

for i in int_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3:")
    else:
        print(f"{i} is not divisible by 3:")

10 is not divisible by 3:
12 is divisible by 3:
18 is divisible by 3:
25 is not divisible by 3:
33 is divisible by 3:
42 is divisible by 3:
56 is not divisible by 3:
61 is not divisible by 3:
72 is divisible by 3:
81 is divisible by 3:
94 is not divisible by 3:
120 is divisible by 3:
117 is divisible by 3:
122 is not divisible by 3:
166 is not divisible by 3:
14 is not divisible by 3:
158 is not divisible by 3:
165 is divisible by 3:
178 is not divisible by 3:
183 is divisible by 3:
197 is not divisible by 3:
330 is divisible by 3:
300 is divisible by 3:
224 is not divisible by 3:
200 is not divisible by 3:

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

The term "mutable" in Python refers to an object's capacity to modify its values. These are frequently the things that hold a data collection.
Ex. Lists , Dictionaries, Sets

In [1]:
l=[1, 8 , "jii" ]
l[2]="hii"
l

[1, 8, 'hii']

Immutable datatypes are objects that cannot be modified or altered after they have been created (for example, by adding new elements, removing elements, or replacing elements). Python's immutable data types are:
Ex. Int, Float, Tuple, Complex,String, etc.

In [4]:
inputString = 'Welcome to tutorialspoint python'
# changing the string character at index 1
inputString[1] = 'a'
print(inputString)

TypeError: 'str' object does not support item assignment