=> stores data as collection ----> Dictionary---> json file

In [21]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://Nikhil:Nikhil@cluster0.psmqseb.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
db = pymongo.mongo_client.MongoClient(uri)

In [9]:
pip install pymongo.mongo_client

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pymongo.mongo_client (from versions: none)
ERROR: No matching distribution found for pymongo.mongo_client

In [22]:
db

MongoClient(host=['ac-0utubh7-shard-00-02.psmqseb.mongodb.net:27017', 'ac-0utubh7-shard-00-00.psmqseb.mongodb.net:27017', 'ac-0utubh7-shard-00-01.psmqseb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-igh2a6-shard-0', tls=True)

In [23]:
client=pymongo.MongoClient(uri)

In [24]:
db=client['Testing']

In [25]:
data={ "name" : "Nikhil","Age": 19,"Address": "Taloja"}

In [26]:
# we can store data as collection only we need to create collection
col= db["Record"]

In [27]:
col.insert_one(data)

In [29]:
d1={
    "Bro" : "Shiv",
    "EXp": 28,
}

In [30]:
col.insert_one(d1)

In [33]:
d2=[
    { "name" : "jai",  "Age": 19,"Address": "Taloja"},
    { "name" : "shree","Age": 14,"Address": "Taloja"},
    { "name" : "ram",  "Age": 79,"Address": "Taloja"},
    { "name" : "hari", "Age": 29,"Address": "Taloja"},
    { "name" : "om",   "Age": 9,"Address": "Taloja"}
]

In [34]:
col.insert_many(d2)

In [35]:
# can also add nested dictionary data

In [36]:
col.find_one()

{'_id': ObjectId('64c5f2b766586964c48a6cda'),
 'name': 'Nikhil',
 'Age': 19,
 'Address': 'Taloja'}

In [37]:
col.find()

In [38]:
for i in col.find():
    print(i)

{'_id': ObjectId('64c5f2b766586964c48a6cda'), 'name': 'Nikhil', 'Age': 19, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f3ac66586964c48a6cdb'), 'Bro': 'Shiv', 'EXp': 28}
{'_id': ObjectId('64c5f4a266586964c48a6cdc'), 'name': 'jai', 'Age': 19, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6cdd'), 'name': 'shree', 'Age': 14, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6cde'), 'name': 'ram', 'Age': 79, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6cdf'), 'name': 'hari', 'Age': 29, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6ce0'), 'name': 'om', 'Age': 9, 'Address': 'Taloja'}

In [40]:
# search like dictionary
for i in col.find({'Age': 19}):
    print(i)

{'_id': ObjectId('64c5f2b766586964c48a6cda'), 'name': 'Nikhil', 'Age': 19, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6cdc'), 'name': 'jai', 'Age': 19, 'Address': 'Taloja'}

In [41]:
# filter
# gte--->greater than equal_to
for i in col.find({"Age" : {"$gte" : 25}}):
    print(i)

{'_id': ObjectId('64c5f4a266586964c48a6cde'), 'name': 'ram', 'Age': 79, 'Address': 'Taloja'}
{'_id': ObjectId('64c5f4a266586964c48a6cdf'), 'name': 'hari', 'Age': 29, 'Address': 'Taloja'}

In [42]:
# update
col.update_many({'Address': 'Taloja'},{"$set" :{'Address': 'Bharat'}})

In [43]:
for i in col.find():
    print(i)

{'_id': ObjectId('64c5f2b766586964c48a6cda'), 'name': 'Nikhil', 'Age': 19, 'Address': 'Bharat'}
{'_id': ObjectId('64c5f3ac66586964c48a6cdb'), 'Bro': 'Shiv', 'EXp': 28}
{'_id': ObjectId('64c5f4a266586964c48a6cdc'), 'name': 'jai', 'Age': 19, 'Address': 'Bharat'}
{'_id': ObjectId('64c5f4a266586964c48a6cdd'), 'name': 'shree', 'Age': 14, 'Address': 'Bharat'}
{'_id': ObjectId('64c5f4a266586964c48a6cde'), 'name': 'ram', 'Age': 79, 'Address': 'Bharat'}
{'_id': ObjectId('64c5f4a266586964c48a6cdf'), 'name': 'hari', 'Age': 29, 'Address': 'Bharat'}
{'_id': ObjectId('64c5f4a266586964c48a6ce0'), 'name': 'om', 'Age': 9, 'Address': 'Bharat'}

In [ ]:
# to delete
# col.drop()