Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data organized and stored in a way that allows efficient retrieval and management of data.
It serves as a central repository for storing, managing, and manipulating information.
Databases can be relational (SQL) or non-relational (NoSQL) based on their data model and storage mechanism.

********** Difference b/w SQL and NoSQL********
Data Model:
SQL databases are based on the relational model, while NoSQL databases use various non-relational data models.

Schema:
SQL databases have a fixed schema, while NoSQL databases are schema-less or have flexible schemas.

Scalability:
NoSQL databases are often more scalable and suitable for handling large datasets and distributed systems.

Query Language: 
SQL databases use SQL for querying, whereas NoSQL databases may have their query languages, APIs, or use simple key-value access.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


DDL stands for Data Definition Language
It is used to define and manage the structure of the database and its objects. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views. 

***CREATE***
Used to create new database objects.
Example: 
    CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    department VARCHAR(50),
    salary DECIMAL(10, 2)
);

***DROP***
Used to delete existing database objects.
Example: 
    DROP TABLE employees;


***ALTER***
Used to modify the structure of existing database objects.
Example: 
    ALTER TABLE employees ADD COLUMN email VARCHAR(100);

***TRUNCATE**
Used to remove all rows from a table, but the table's structure remains intact.
Example:
    TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language
It is used to manipulate data in a database. 
DML commands are used to insert, update, and delete data from database tables. 


***INSERT***
It is used to add new rows (records) to a database table.
Syntax: 
        INSERT INTO table_name VALUES (value1, value2, ...);
Example:
    INSERT INTO employees VALUES (104, 'Mary', 'Marketing', 48000);
    
    
***UPDATE***
It is used to modify existing rows in a database table.
Syntax: 
    UPDATE table_name SET column1 = value1, column2 = value2, ... WHERE condition;
Example : 
    UPDATE employees SET salary = 52000 WHERE emp_id = 102;

***DELETE***
It is used to remove rows from a database table.
Syntax:
    DELETE FROM table_name WHERE condition;
Example:
    DELETE FROM employees WHERE department = 'Finance';

Q4. What is DQL? Explain SELECT with an example.


DQL stands for Data Query Language
it is used to retrieve and manipulate data in a database.
The main DQL command is the SELECT statement, which is used to retrieve data from one or more database tables.
syntax of select :
    SELECT column1, column2, ... FROM table_name WHERE condition;
    
   column1, column2,.-->- Names of the columns to retrieve data from. 
                           Use '*' for all columns.
   FROM: Keyword followed by the name of the table to fetch data from.
   WHERE: Optional clause to specify conditions for rows to be included in the result.


example
SELECT * FROM employees;
Retrieves all rows and columns from the "employees" table.

SELECT emp_name FROM employees WHERE department = 'IT';
Fetches "emp_name"  for employees in the "IT" department.

SELECT * FROM employees WHERE salary > 150000;
Retrieves employees with a salary greater than 150000.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
Primary Key is a unique identifier for each record in a database table.
It ensures that each row in the table is uniquely identified and can be used to retrieve and modify specific records.
The primary key column must have unique and non-null values.
Typically, tables have a single primary key, but it can also be a combination of multiple columns, forming a composite primary key.
Primary keys are used to enforce data integrity and create relationships between tables


Foreign Key:
A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.
It establishes a relationship between two tables, creating a link between data in different tables.
The Foreign Key ensures referential integrity, meaning that the values in the Foreign Key column(s) must correspond to existing values in the Primary Key of the related table or be set to NULL.
It allows you to perform JOIN operations to retrieve data from related tables.
Foreign Key constraints prevent orphaned records (rows in a table that refer to non-existent rows in the related table) and maintain data consistency in the database.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("create database if not exists test5")
mycursor.execute("create table if not exists test5.Student(roll int,name varchar(20) , Address varchar(20))")
mycursor.execute("insert into test5.Student values(1,'Nikhil','Taloja')")
mydb.commit()
mycursor.execute("select * from test5.Student")
for i in mycursor:
    print(i)

mydb.close()

cursor(): 
The cursor() method creates an object that allows interaction with the database.
It acts as a pointer to execute SQL queries and fetch data.

execute(query):
The execute() method runs SQL queries on the MySQL database.
It takes the query as its  argument 

*should always call conn.commit() after data-modifying queries (INSERT, UPDATE, DELETE) to save changes. 
*Close the cursor and connection using cursor.close() and conn.close() respectively to release resources.

Q7. Give the order of execution of SQL clauses in an SQL query.


1. FROM
2. WHERE
3. GROUP BY
4. HAVING
6. SELECT
7. ORDER BY