In [4]:
m=int(input("Enter marks :"))
if m>=90 :
    if m>=98 :
        print("A+ and scholarship")
    else :
        print("A+")
elif m<90 and m>=75 :
    print("A")
elif m<75 and m>=60 :
    print("B")  
elif m<60 and m>=40 :
    print("c")
else :
    print("Fail")

Enter marks : 98

A+ and scholarship

In [5]:
l=[1,2,3,5,8,9,4,7]
l1=[]
for x in l : 
    l1.append(x+1)
    
l1

[2, 3, 4, 6, 9, 10, 5, 8]

In [6]:
# to convert to uppercase
l=["nm","coat","goat"]
l1=[]
for i in l:
    l1.append(i.upper())
l1

['NM', 'COAT', 'GOAT']

In [7]:
# make two separate list numeric and str
l=[1,5,9,2,5,"nm", "mn", 45.65]
ln=[]
ls=[]
for i in l :
    if type(i)== str :
        ls.append(i)
    else : 
        ln.append(i)
print(ln,ls)

[1, 5, 9, 2, 5, 45.65] ['nm', 'mn']