In [2]:
'''
[]----> list 

'''
l=[1, 4, 9 , "hii" ,True, 5+7j]
type(l)

list

In [3]:
# can retrive based on index  0, 1 ....  or   ...-2, -1
l[0]

1

In [4]:
l[90]

IndexError: list index out of range

In [5]:
#slicing [ from : to +1 : jump ] same as str
l[-4]

9

In [6]:
l[2:8:2]

[9, True]

In [7]:
s= "str"
l+s
## not works because cant concatenate str with list

TypeError: can only concatenate list (not "str") to list

In [8]:
list(s) 
# adds all char in list

['s', 't', 'r']

In [9]:
l[3]

'hii'

In [10]:
l[3][0:2]

'hi'

In [13]:
l1=[2, 4, 5]
l+l1
#can cotenate list with list

[1, 4, 9, 'hii', True, (5+7j), 2, 4, 5]

In [14]:
len(l)

6

In [17]:
l.append(s)
l

[1, 4, 9, 'hii', True, (5+7j), 'str', 'str']

In [18]:
l.append(l1)
l

[1, 4, 9, 'hii', True, (5+7j), 'str', 'str', [2, 4, 5]]

In [19]:
l[-1]

[2, 4, 5]

In [20]:
l[-1][2]

5

In [23]:
# if we want to add data which are iteratabe ho
l.extend("abc")
l

[1,
 4,
 9,
 'hii',
 True,
 (5+7j),
 'str',
 'str',
 [2, 4, 5],
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [24]:
l

[1,
 4,
 9,
 'hii',
 True,
 (5+7j),
 'str',
 'str',
 [2, 4, 5],
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [26]:
# to insert on random space 
# inernally shifts all the elem on index and after it will shift 

l1.insert(1,"nik")
l1

[2, 'nik', 4, 5]

In [28]:
l1.insert(-1,"mish")
l1

[2, 'nik', 4, 'mish', 'mish', 5]

In [36]:
l1.pop() # default -1......based on index

'mish'

In [30]:
l1

[2, 'nik', 4, 'mish', 'mish']

In [31]:
l1.pop(-1)

'mish'

In [32]:
l1

[2, 'nik', 4, 'mish']

In [38]:
l1.remove(4) # .....delets datai.e
# if a = l1[0] and want to remove 2 from list
# then remove( 2) ....based on data
# if duplicate available removes fir occr

In [39]:
l1

['nik']

In [47]:
l.remove('b')
l

[1, 'nik', 4, 9, 'hii', True, (5+7j), 'str', 'str', ['nik']]

In [48]:
# reverse 
# temprary if want to make permanent then resassign
#l=l[::-1]
l[::-1]

[['nik'], 'str', 'str', (5+7j), True, 'hii', 9, 4, 'nik', 1]

In [51]:
#permanant
l.reverse()
l

[['nik'], 'str', 'str', (5+7j), True, 'hii', 9, 4, 'nik', 1]

In [54]:

l.sort()
l

TypeError: '<' not supported between instances of 'str' and 'list'

In [56]:
l2=[3591,567.44,12,98]
l2.sort()
l2

[12, 98, 567.44, 3591]

In [9]:
l3=["beta","gama","beta","uv","alpha"]
l3.sort(reverse=True)
l3

['uv', 'gama', 'beta', 'beta', 'alpha']

In [10]:
l3.index('beta')

2

In [11]:
l3.count("beta")

2

In [14]:
#mutable
l3[2]="EM waves"

In [15]:
l3

['uv', 'gama', 'EM waves', 'beta', 'alpha']

In [17]:
#immutable
s="NIKHIL"
s[0]=n

NameError: name 'n' is not defined

In [18]:
#internally re assigns
s.replace("IKHIL", "ikhil")

'Nikhil'

TUPELS

=>collection like list
=>t=(2,3,4,5,"hii", True)
=>Immutable

In [23]:
t=(2,3,4,5,"hii", True)

In [21]:
type(t)

tuple

In [24]:
len(t)

6

In [25]:
t[0]

2

In [26]:
t[-4]

4

In [27]:
#immutable
t[0] =8

TypeError: 'tuple' object does not support item assignment

In [33]:
#reverse  doesn't modify orginal only creates tempo
t[::-1]

(True, 'hii', 5, 4, 3, 2)

In [32]:
t

(2, 3, 4, 5, 'hii', True)

In [30]:
#only two function
t.count(4)

1

In [31]:
t.index(5)

3

Dictionary
set
=>empty set is considered as  dictionary
=>not acceptable only accepts immutable since list is mutable it will not accept
=>accepts tuples since it is immutable
=>removes repetative element 
=>lists list method creates another collection of any other type into list
=>indexing and slice is not applicable
=>random storing so can't be added on any specific postion

In [34]:
s1={}

In [35]:
type(s1)

dict

In [38]:
s2={3,5,78, "hii" ,6}
type(s2)

set

In [40]:
#not acceptable only accepts immutable since list is mutable it will not accept
s3={64,89,"kk",[4,6,8,9]}

TypeError: unhashable type: 'list'

In [42]:
#accepts tuples since it is immutable
s3={64,89,"kk",(4,6,8,9)}

In [46]:
#removes repetative element 
# since case sensitive it will treat nm NM two different things
# doest sorts in order just looking like
s4={1,5,2,9,1,5,2,3,5,7,9,2,4,9,2,"NM", "nm"}
s4

{1, 2, 3, 4, 5, 7, 9, 'NM', 'nm'}

In [48]:
#lists list method creates another collection of any other type into list
l= list(s4)
l

[1, 2, 3, 4, 5, 'NM', 7, 9, 'nm']

In [50]:
s={256,222,33,59,9999,"cbd","hjh"}
s

{222, 256, 33, 59, 9999, 'cbd', 'hjh'}

In [52]:
# indexing and slice is not applicable
s[0]

TypeError: 'set' object is not subscriptable

In [55]:
#random storing so can't be added on any specific postion
s.add(1)
s

{1, 222, 256, 33, 59, 9999, 'cbd', 'hjh'}

In [56]:
s.remove(9999)
s

{1, 222, 256, 33, 59, 'cbd', 'hjh'}