In [1]:
## lecture 1

In [2]:
#syntax for only declaration 
def fname():
    pass

In [5]:
## always returns nonetype
## declaration and definition
def fname1():
    print("hii")

In [6]:
fname1()

hii

In [7]:
## return 
def fname2():
    return "hiii"

fname2()

'hiii'

In [9]:
def fname4():
   return 3,5,7,"hii",7.8
fname4()

(3, 5, 7, 'hii', 7.8)

In [13]:
def fname5(a,b,c):
   return a+b+c
fname5()

TypeError: fname5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [14]:
fname5(10,5,5)

20

In [15]:
fname5("s", "h","ame")

'shame'

In [17]:
fname5([1,2,4], ["dgg","dd"] ,[23.4,4] )

[1, 2, 4, 'dgg', 'dd', 23.4, 4]

In [19]:
def nik(a):
    """table"""  #--->doc sting like built in function is click tab on function it  will description 
    for i in range(11):
        print(f"{a} * {i} = {a*i}")

In [20]:
nik(2)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [21]:
#to get any no. of arguments or prameters  we use *(var_name) stores as tuple
def f(*args):
    return args

In [23]:
f()

()

In [24]:
f(4444,555,"hj")

(4444, 555, 'hj')

In [31]:
def f1(*args, a):
    return args , a

In [28]:
f1(13,6,78,0)

TypeError: f1() missing 1 required keyword-only argument: 'a'

In [32]:
f1(6,8,2,4, a=56)

((6, 8, 2, 4), 56)

In [33]:
#can some parameter from caller and some default val in def.

In [34]:
# to get output as dict
def t1(**a):
    return a

In [35]:
t1()

{}

In [36]:
t1(a=89,j="hh")

{'a': 89, 'j': 'hh'}

In [ ]:

                                                    ## Lecture 2

In [37]:
#to make str iterateable -->iter(str_name)
# iterable---> which can be iterate
# iterator --->on which we can use next()

# when we want to give list as output then first it creates o/p and stores in list 
# due to which dat consumption is too high
# to overcome this we use generator 
# it creates o/p and prints instead of storing any other place it retuns due tothis lots of memory can be saved

In [38]:
def fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b = b, a+b

In [40]:
fib(10)

In [41]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [45]:
x= fib(10)
type(x)

generator

In [46]:
    
                                    # lecture 3

In [47]:
# lambda function or anonymous func or online function
# we dont give function name but we store it in var by calling that var with parameters we call fumc 

##----- normal func
def t1(p,n):
    return n*p

t1(30,100)

3000

In [48]:
a= lambda n,p : n*p
a(30,100)

3000

In [49]:
find_max =lambda x,y: x if x>y else y
find_max(10,8)

10

In [50]:

                        #  l4

In [51]:
l=[3,5,6,8]

In [53]:
# for sqr of elem normal func---> we use for loop
#Another  there is built in function which we can use if want to apply it on all the elem --->map


d= lambda x : x**2
list(map(d, l))    ##map(lambda x : x**2 , l)

[9, 25, 36, 64]

In [55]:
# to give add of elem of respective ind
l1=[1,2,3,4]  
l2=[5,6,7,8]
list(map(lambda x,y : x+y, l1,l2))

[6, 8, 10, 12]

In [58]:
## reduce--> use it we need to import library
from functools import reduce

In [59]:
# exceptional case can run it on singleton tooo
l=[2,4,6,8]
"""
2+4 =6
6 + 6=12
12 + 8 =20
"""
reduce(lambda x,y : x+y, l)

20

In [60]:
reduce(lambda x,y,z : x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [62]:
"""
2,4 --> 4
4,4 -->4
4,6---> 6
6,8----> 8
"""
reduce(lambda x,y :  x if x>y else y , l)

8

In [66]:
#filter

l=[1,3,2,4,5,6,7,8]

list(filter(lambda x : x%2==0, l))

[2, 4, 6, 8]

In [68]:

l=[1,-3,2,4,5,-6,7,8]

list(filter(lambda x : x<0, l))

[-3, -6]

In [69]:

l=["abc","bcd","hhhhhhhhh"]

list(filter(lambda x : len(x)<5, l))

['abc', 'bcd']